body {
  background: linear-gradient(rgb(0, 0, 0), #457b9d, black);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
    margin-top: 20px

}

h1 {
    color: #000000;
    padding: 14px 16px;
}

span {
    font-size: 75px;
    color: white;
}

.nav-heading {
    color: white;
    margin-left: 15px;
}

p {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: 30px
}

ul {
    font-size: larger;
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: black
}
  
li {
    border-style: groove;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: #000000;
    border-radius: 4px
}

.profile-img {
  margin-top: 100px;
  width: 400px;
  height: 600px;
  pointer-events: none;
  margin-right: 80px;
  display: block;
  padding: 66px 70px
}

.uofm-img {
    width: 500px;
    height: 475px;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 14px 16px
}

.resume-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 20px;

}

.resume-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 14px 16px;
    pointer-events: none
}

.github:hover,
.linkedin:hover {
    color: #002d70
}

.my-work {
    font-weight: bold;
    display: flex;
    padding-left: 130px;
    margin: 20px;
}

.icon {
    color: white;
}

.github {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-top: 55px
}

.linkedin {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: rgb(0, 0, 0)
}

.work-title{
    color: white;
    text-decoration: none;
}

img.work-img {
    width: 500px;
    height: 330px;
}

img:hover {
    background-color: #333
}
  
/* Changes the link color to (black) on hover */
li a:hover {
    background-color: #333
}


main section strong {
    display: flex;
    justify-content: center;
    font-size: larger
}

footer {
    margin-top: auto;
}