html {
    min-height: 100%;
}

body {
    background: linear-gradient(rgb(255, 179, 0), #457b9d, #b5e48c);
}

h1 {
    padding-top: 25px;
    display: flex;
    justify-content: center; 
}

p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: 30px;
}

.nav-link {
    font-weight: bold;
    color: rgb(255, 179, 0);
}

ul {
    font-size: larger;
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}
  
li {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.home-img {
  margin-top: 45px;
  width: 700px;
  height: 625px;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 14px 16px;
}

.uofm-img {
    width: 550px;
    height: 515px;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 14px 16px;
}

.resume-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 14px 16px;
    pointer-events: none;
}

.linkedin {
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: #0063f7;
}

.github {
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: #0063f7
}

img:hover {
    background-color: #333;
}
  
/* Changes the link color to (black) on hover */
li a:hover {
    background-color: #333;
}

main h2 {
    display: flex;
    justify-content: center;    
    border: solid black;
}

main section strong {
    display: flex;
    justify-content: center;
    font-size: larger;
}

  footer h2 {
    display: flex;
    justify-content: flex-start;
}